<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="wartoscSkalujacaDoswiadczenieDoNastepnegoPoziomu" value="2"/>
		<add key="startoweDoswiadczenieDoNastepnegoPoziomu" value="100"/>
		<add key="opcjeMiasta" value="Wejdź do lochu, Kuźnia, Sklep umiejętności, Sklep z miksturami, Spójrz w lustro, Pomoc, Zapisz i wyjdź"/>
		<add key="pomocOpcjeMiasta" value="Wejdź do lochu -> Wybierasz się na przygodę gdzie możesz zdobyć pieniądze i sławe, Kuźnia -> Pozwala na kupienie ulepszeń ataku i obrony, Sklep umiejętności -> Pozwala na kupienie nowych umiejętności, Sklep z miksturami -> Pozwala na zakupienie mikstur przed wyprawą"/>
		<add key="miastoWiadomoscPowitalna" value="Witaj w mieście "/>
		<!--Pieniądze, Doświadczenie do następnego poziomu, HP, Siła, Odporność, Punkty akcji, Poziom, Doświadczenie-->
		<add key="statystykiStartoweBohatera" value="0, 100, 10, 2, 2, 1, 1, 0"/>
	</appSettings>
</configuration>